body {
  background-color: #fcfcfc;
  color: #333;
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 20px;
}
.button-action {
  cursor: pointer;
  transition: background-color 0.2s ease;
}